
/* Variables
-----------------------------------------------------------------*/
$main_color: #40ea1e;
$main_color2: #57cc94;
$body_color: #f6f7ff;
$sub_bg: rgb(20, 20, 20);
$sub_bg2: rgb(36, 36, 36);
$main_bg: #1a1a1a;
$mobile-xs-screen: 480px;
$tablet-sm-screen: 768px;
$desk-md-screen: 992px;
$desk-lg-screen: 1300px;