.sub-menu {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  display: block !important;
  padding: 0 !important;
}

.hamenu .menu-links .main-menu .sub-menu2 {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  display: block !important;
  padding: 0 !important;
}
